body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#nav-menu {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-content: center;
  gap: 30px;
}

.header-btn {
  padding: 15px 20px;
  font-size: 2rem;
  border: none;
}
